.container {
    height: 488px;
    width: 466px;
    border: 2px solid red;
    background-position: 50% 50%;
    background-image: url(https://tse3.mm.bing.net/th/id/OIP.K1AIY1aK84zwlF-YJCzpVAHaE5?rs=1&pid=ImgDetMain&o=7&rm=3);
    /* background-repeat: no-repeat; */
    background-repeat: repeat-y;
}


img {
    width: 466px;
    height: 488px;
    object-fit: contain; 
    object-fit: cover;
    /* object-fit: fill;  */
    /* object-position: right top;  */
    object-position: 10px 20px;
}


