.container {
    width: 80vw;
    border: 2px solid black;
    display: grid;
    /* grid-template-columns: [pehela]120px [doosra]120px */
    /* [t]; */
    /* grid-template-rows: 100px 100px 100px; */
    /* grid-template-columns: repeat(4, minmax(100px, 1fr)); */
    grid-template-columns: repeat(4, 80px);
    /* gap: 34px; */
    grid-template-rows: repeat(4);
    row-gap: 10px;
    column-gap: 44px;
    /* justify-items: center; */
    place-content: center;
    align-items: center;

}

.item {
    border: 2px solid red;
    height: 55px;
}

/* .item-4 {
    grid-row: 1/2;
    grid-column: pehela/t;
}

.item-1 {
    grid-row: 1/2;
    grid-column: 1/2;
} */