* {
    margin: 0;
    padding: 0;
}

.box {
    height: 50px;
    width: 50px;
    background-color: beige;
    border: 2px solid black;
    /* transform: rotate(45deg); */
    transform: rotate(0.25turn);
    /* transform: rotateX(40deg); */
    /* transform: scale3d(); */
    /* transform: skewY(5deg); */
    /* transform: translateY(100%) skewX(40deg) translateX(45%); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100vw;
    height: 80vh;
    border: 2px solid purple;
}